.small-menu{
    margin-top: 20px;
    background-color: #fff4e1;
    padding: 5px;
    border: 1px solid #e2e9e3;
    border-radius: 10px;
}
.image-small-menu{
    overflow: auto;
}
.image-small-menu img{
    width: 100%;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
.item-button-group{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.solve-test{

}
.give-homework{}