* {
  box-sizing: border-box;
}
.side-bar {
  background-color: #fed9b7;
}
.item-list-area {
  background-color: #fdfcdc;
}
.item-list-area p,
h3 {
  color: #f07167;
}
.mentor-list-header,
.student-list-header,
.feedback-header {
  color: #00afb9;
}

#select-form {
  color: #0081a7;
}
.admin-profile-img-container img {
  border-radius: 50%;
}

.admin-profile-img-text {
  font-size: 20px;
  font-weight: 700;
  color: #00afb9;
}
.admin-profile-img-text span {
  color: #00afb9;
}
.admin-profile-bottom-text {
  color: #f07167;
}
.admin-profile-bottom-text .lenght {
  color: #00afb9;
}
.admin-profile .left-span {
  font-weight: 700;
  width: 30%;
  display: inline-block;
  background-color: #00afb9;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  box-shadow: -2px -2px 4px #fed9b7;
  color: #fff;
}
.admin-profile .right-span {
  color: white;
  margin-left: 10px;
  background-color: #fed9b7;
  width: 70%;
  display: inline-block;
  font-weight: 500;
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  border-radius: 10px;
  box-shadow: 2px -2px 4px #9e9e9e9c;
}
.admin-profile-radius {
  border-radius: 20px !important;
}
.admin-profile .card {
  /* border-radius: 15px; */
  border: 0px;
}
.admin-profile h4 {
  color: #00afb9;
}
.circles > .left,
.right {
  font-size: 20px;
  color: #f07167;
}
.circles .middle {
  font-size: 20px;
  color: #00afb9;
  margin: 0 20px;
}
.admin-profile .list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.admin-profil-form {
  width: 85%;
  margin: auto;
  background-color: #fed9b7;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 13px;
}
.admin-profil-form .save {
  background-color: #0081a7;
  border: 1px solid #0081a7;
  font-size: 12px;
}

.admin-profil-form .close {
  background-color: #f07167;
  border: 1px solid #f07167;
  font-size: 12px;
}
.admin-profil-form .save:hover {
  background-color: #fff;
  border: 1px solid #0081a7;
  color: #0081a7;
}

.admin-profil-form .close:hover {
  background-color: #fff;
  border: 1px solid #f07167;
  color: #f07167;
}

.admin-update-profil-button {
  margin: 22px;
  float: right;
  color: white;
  font-weight: 600;
  border: 2px solid #faf9f6;
  border-radius: 15px;
  background-color: #00afb9;
}
.admin-update-profil-button:hover {
  background-color: #faf9f6;
  color: #00afb9;
  border: 2px solid #00afb9;
}
.admin-update-profil-button:focus {
  background-color: #faf9f6;
  color: #00afb9;
  border: 2px solid #00afb9;
  box-shadow: none;
}
.admin-update-profil-button:active {
  background-color: #faf9f6;
  color: #00afb9;
  border: 2px solid #00afb9;
}
.modal.show .modal-dialog {
  margin-top: 177px;
}
.modal-title {
  color: #0081a7;
  font-size: 16px;
}
.admin-modal-text {
  border-radius: 10px;
  color: white;
  background-color: #f07167;
  padding: 6px;
  display: inline;
  margin: 15px auto;
  text-align: center;
}
.modal-content {
  border-radius: 15px;
}

/* AdminAsideBar css */
.text-icon-container {
  border: 1px solid #3ea842;
  color: #3ea842;
  font-weight: 500;
  align-items: center;
  width: 100%;
  background-color: white;
  text-decoration: none;
}
.text-icon-container:hover {
  background-color: #3ea842;
  color: white;
}
.true {
  /* background-color: #00afb9; */
  color: #00afb9;
}
.admin-aside-container a:visited {
  background-color: #3ea842;
  color: white;
}

/* AdminStudnetList */
.admin-all-student-list-table {
  width: 90%;
  margin: auto;
  background-color: white;
  color: #3ea842 !important;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.admin-all-group-list .fa-trash-can {
  color: #f44336;
  font-size: 14px;
}
.fa-trash-can {
  color: #f44336;
  font-size: 14px;
}
.fa-pen-to-square {
  color: #ff9800;
  font-size: 18px;
}

.fa-screwdriver-wrench {
  font-size: 18px;
  color: #ff9800;
}

/* AdminCreateUser */
.form-admin {
  width: 90%;
  margin: auto;
  background-color: #00afb9;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 13px;
}
.form-admin h4 span {
  color: #0000006e;
}
.save-all {
  background-color: #fed9b7 !important;
  color: #0081a7 !important;
  border: 1px solid #fed9b7 !important;
}
.save-all:hover {
  background-color: #f2eae4 !important;
  border: 1px solid #f2eae4 !important;
}
.kaydet-button {
  color: #fff;
  background-color: #036666;
  border: 1px solid #036666;
  font-weight: 500;
}
.kaydet-button:hover {
  color: #036666;
  background-color: #fff;
  border: 1px solid #036666;
}
.kaydet-button:focus {
  color: #036666;
  background-color: #fff;
  border: 1px solid #036666;
}
.groups-list {
  border-radius: 22px !important;
}

/* Admin feedback list */
.feedback-user-name {
  color: #00afb9;
  margin-bottom: 10px;
}
.feedback-message {
  color: #f07167;
  margin-bottom: 5px;
}
.feedback-date {
  color: #b7b2b2;
  font-size: 14px;
}
.feedback-email {
  color: #b7b2b2;
  font-size: 14px;
}
.admin-all-feedback-list {
  background-color: #fdfcdc !important;
}
